.home-page{
    position: absolute;
    height: 100%;
    width: 100%;
}

/*==================================*/
/* Media queries */
/*----------------------------------*/

@media screen and (max-width: 800px){
    .home-page .app-description-block .welcome-header,
    .home-page .create-party-block .create-party-header{
        font-size: 30px;
    }

    .home-page .app-description-block .tagline,
    .home-page .app-description-block .start-button,
    .home-page .app-description-block .tutorial .tutorial-steps,
    .home-page .app-description-block .tutorial .tutorial-header,
    .home-page .create-party-block .create-party-description,
    .home-page .create-party-block .button,
    .home-page .create-party-block .input
    {
        font-size: 15px;
    }

}
