.app-description-block {
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    transition: margin-top 0.4s ease, opacity 0.25s ease;
}

.app-description-block.hidden {
    margin-top: -150%;
    opacity: 0;
}

.app-description-block .welcome-header {
    color: #f0f0f0;
    font-family: inherit;
    font-size: 2.5vw;
    font-weight: 300;
    text-align: center;
}

.app-description-block .tagline {
    display: inline-block;
    text-align: center;
    font-size: 1.6vw;
    margin-top: 25px;
}

.app-description-block .tutorial {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.app-description-block .tutorial .tutorial-header {
    text-align: center;
    font-size: 1.2vw;
}

.app-description-block .tutorial .tutorial-steps {
    margin: 0 auto;
    max-width: 55%;
    font-size: 1vw;
}

.app-description-block .start-button {
    opacity: 0.7;
    display: table;
    padding: 10px;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
    margin: 30px auto 0 auto;
    font-size: 1.3vw;
}

.app-description-block .start-button:hover {
    opacity: 1;
    cursor: pointer;
}

.app-description-block .infographic {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
}

.app-description-block .infographic .infographic-screen {
    width: 14vw;
    min-width: 100px;
    margin-top: 30px;
}

.app-description-block .infographic .infographic-screen.left {
    transform: skew(-10deg);
}

.app-description-block .infographic .infographic-screen.right {
    transform: skew(10deg);
}

.app-description-block .infographic .infographic-sync {
    width: 8vw;
    margin: 0 2vw;
}