.home-page{
    position: absolute;
    height: 100%;
    width: 100%;
}

.home-page .app-description-block{
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    transition: margin-top 0.4s ease, opacity 0.25s ease;
}
.home-page .app-description-block.hidden{
    margin-top: -150%;
    opacity: 0;
}

.home-page .app-description-block .welcome-header{
    color: #f0f0f0;
    font-family: inherit;
    font-size: 2.5vw;
    font-weight: 300;
    text-align: center;
}

.home-page .app-description-block .tagline{
    display: inline-block;
    text-align: center;
    font-size: 1.6vw;
    margin-top: 25px;
}

.home-page .app-description-block .tutorial{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.home-page .app-description-block .tutorial .tutorial-header{
    text-align: center;
    font-size: 1.2vw;
}

.home-page .app-description-block .tutorial .tutorial-steps{
    margin: 0 auto;
    max-width: 55%;
    font-size: 1vw;
}

.home-page .app-description-block .start-button{
    opacity: 0.7;
    display: table;
    padding: 10px;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
    margin: 30px auto 0 auto;
    font-size: 1.3vw;
}
.home-page .app-description-block .start-button:hover{
    opacity: 1;
    cursor: pointer;
}

.home-page .app-description-block .infographic{
    margin-top: 40px;
   display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
}

.home-page .app-description-block .infographic .infographic-screen{
    width: 14vw;
    min-width: 100px;
    margin-top: 30px;
}

.home-page .app-description-block .infographic .infographic-screen.left{
    transform: skew(-10deg);
}

.home-page .app-description-block .infographic .infographic-screen.right{
    transform: skew(10deg);
}

.home-page .app-description-block .infographic .infographic-sync{
    width: 8vw;
    margin: 0 2vw;
}

.home-page .create-party-block{
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: 0;
    width: 50%;
    margin: 120px auto;
    left: 0;
    right: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0.3s;
}
.home-page .create-party-block.hidden{
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.home-page .create-party-block .create-party-header{
    color: #f0f0f0;
    font-family: inherit;
    font-size: 2.5vw;
    font-weight: 300;
    display: block;
}

.home-page .create-party-block .create-party-description{
    font-size: 1.2vw;
    margin-top: 25px;
}

.home-page .create-party-block .party-details{
    width: 100%;
    border-top: 1px solid hsla(0, 0%, 100%, .05);
    border-bottom: 1px solid hsla(0, 0%, 100%, .05);
    padding: 10px 0;
    margin: 10px 0;
}

.home-page .create-party-block .input{
    width: 100%;
    height: 2em;
    background: #666;
    border: 1px solid transparent;
    padding: .2em .6em;
    color: #fff;
    font-size: 1.3vw;
    box-sizing: border-box;
    margin: 5px 0;
}

.home-page .create-party-block .button{
    float: left;
    opacity: 0.7;
    display: table;
    padding: 10px;
    color: #f0f0f0;
    border: 1px solid #f0f0f0;
    margin-top: 5px;
    font-size: 1.3vw;
}

.home-page .create-party-block .button.create-party{
    color: #262728;
    background: #ffffff;
}

.home-page .create-party-block .button.cancel-party{
    margin-left: 5px;
}

.home-page .create-party-block .button:hover{
    opacity: 1;
    cursor: pointer;
}


/*==================================*/
/* Media queries */
/*----------------------------------*/

@media screen and (max-width: 800px){
    .home-page .app-description-block .welcome-header{
        font-size: 30px;
    }

    .home-page .app-description-block .tagline,
    .home-page .app-description-block .start-button,
    .home-page .app-description-block .tutorial .tutorial-steps,
    .home-page .app-description-block .tutorial .tutorial-header
    {
        font-size: 15px;
    }

}
