.app {
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 70px;
    display: flex;
    flex:1;
    flex-direction: column;
    min-height: 650px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}
