html {
    box-sizing: border-box;
    height: 100%;
}

* {
    box-sizing: inherit;
}

*:focus {outline:0;}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: aktiv-grotesk, Helvetica Neue, Arial, sans-serif;
    font-size: .875rem;
    line-height: 1.4;
    color: #aaabac;
    background: #262728;
}

#root{
    height: 100%;
    display: flex;
    flex-direction: column;
}


/*==================================*/
/* Layout */
/*----------------------------------*/

.g-row {
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    display: inherit;
    flex: inherit;
    flex-direction: inherit;
}

.g-col {
    float: left;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    display: inherit;
    flex: inherit;
    flex-direction: inherit;
}

.content-flex-horizontal{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.rotating {
    -webkit-animation: rotating 3s linear infinite;
    -moz-animation: rotating 3s linear infinite;
    -ms-animation: rotating 3s linear infinite;
    -o-animation: rotating 3s linear infinite;
    animation: rotating 3s linear infinite;
}


/*==================================*/
/* Animations */
/*----------------------------------*/

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*==================================*/
/* Media queries */
/*----------------------------------*/

@media screen and (min-width: 46.25em){
    .g-col.card {
        width: 20%;
    }
}

@media screen and (max-width: 46.25em){
    .g-col.card {
        width: 33.33%;
    }

    .content-flex-horizontal{
        flex-direction: column;
    }
}

@media screen and (max-width: 31.25em){
    .g-col.card {
        width: 50%;
    }
}


