html{box-sizing:border-box}

* {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-family: aktiv-grotesk,Helvetica Neue,Arial,sans-serif;
  font-size: .875rem;
  line-height: 1.4;
  color: #aaabac;
}

/*==================================*/
/* Grid layout */
/*----------------------------------*/

.g-row{
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
}

.g-col {
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}